<template name='about'>
  <main class="ui maingrid content">
    <div class="jumbotron text-center">
      <h1>About us</h1>
    </div>
      <div class="ui container">
        <div class="ui divider"></div>
        <div class="container">
          <h4 class="mt-3" >  What is Galaxii?</h4>
          <div class="list-group">
            <div class="list-group-item">
              <p>We are a decentralized video platform that rewards users with crypto currency for publishing
             and curating content within our ecosystem. Monetize your personal content and make money
             rather than “likes”. We are currently running on the STEEM blockchain and IPFS peer-to-peer
             network.</p>
           </div>
          </div>
          <h4 class="mt-3" > What is the STEEM blockchain and what is the IPFS network?</h4>
          <div class="list-group">
              <div class="list-group-item"><p>STEEM is a social blockchain that rewards users for sharing content and creates immediate
               revenue streams for online communities.</p>
              </div>
              <div class="list-group-item">
                 <p>“Steem provides a scalable blockchain protocol for publicly accessible and immutable content,
               along with a fast and fee-less digital token (called STEEM) which enables people to earn the
               currency by using their brain (what can be called “Proof-of-Brain”) “.</p>
                  <a href="https://steem.com">https://steem.com</a>
              </div>
              <div class="list-group-item">
                <p>IPFS (InterPlanetary File System) is a protocol and network designed to create a content-
                addressable, peer-to-peer method of storing and sharing hypermedia in a distributed file
                system.</p>
                <a href="https://ipfs.io">https://ipfs.io</a>
              </div>
          </div>
          <h4 class="mt-3" > How do I earn crypto?</h4>
          <div class="list-group">
           <div class="list-group-item">
             <p>Galaxii rewards you in crypto for contributing to the platform via posting, commenting, voting
             and watching videos within the network.</p>
          </div>
         </div>
          <h4 class="mt-3" >Censor free</h4>
          <div class="list-group">
           <div class="list-group-item">
             <p>The Galaxii platform is decentralized which allows videos to be censor free. Only the users can
             censor it through upvotes and downvotes.</p>
          </div>
         </div>
      </div>
    </div>
  </main>
</template>
